.all-heading{
    color: orange;
}
.all-button{
    color: whitesmoke;
    background-color: tomato;
    border: none;
}
p{
    color: rgb(3, 0, 5);
}
.sec-1{
    display: flex;
    margin-left: 2cm;
    margin-top: 1cm;
}
.pic-sec1{
    

}
.sec-2{
    text-align: center;
}
.section2{
   display: flex;
}
.sec-21{

    background-color:lightgrey;
    border-radius: 25px;
    margin-left: 2cm;
    margin-right: 2cm;
}
.sec-22{
    background-color: lightgreen;
    border-radius: 25px;
    margin-left: 2cm;
    margin-right: 2cm;
}
.sec-23{
    background-color: lightpink;
    border-radius: 25px;
    margin-left: 2cm;
    margin-right: 2cm;
}
.third-sec{
    display: flex;
}